.logo-style {
    height: 55px;
}

.banner-style {
    display: inline-flex;
    top: 0;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    background-color: #262626;
    color: white;
    position: fixed;
}

.footer-style {
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid whitesmoke;
    margin-top: 10px;
    background-color: #262626;
    color: white;
    position: fixed
}

.width-200px {
    width: 200px;
}

.image-styles {
    width: 50%;
    cursor: pointer;
}

.image-border-green {
    border: 1px solid green;
}

.image-border-red {
    border: 1px solid red;
}

.destinationList-margin {
    margin-top: 10px;
    margin-left: 10px;
}

.imageBox {
    position: relative;
}

.imageBox:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000099;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

/* mouse click is not working properly.
work on it */
